<div class="flexbox-profile">
<h1 style="color:black">This is the Profile Page</h1>
<h3 style="color:black" class="">Welcome {{user.username}}</h3>
  <br />
  <a class="explore-btn" href='/explore'>Explore other tweets</a>
<br />
<h3 style="color:black">Add a tweet:</h3>
  <form action='/profile/tweet/new' method='POST'>
    <label style="color:black" for='tweet'>What you'd like to share:</label>
  <br />
    <textarea
    name='tweet'
    id='tweet'
    cols='30'
    rows='10'
    maxlength='280'
    required
    autofocus
  ></textarea>
    <br>
    <button class="tweet-btn" type='submit'>Tweet</button>
</form>
<br />
{{#each tweets}}
  <div>
    <h4 style="color:black">Posted by: {{author.username}}</h4>
    <p style="color:black">{{content}}
      <br />
      {{! Checks if tweet was edited and returns latest timestamp }}
      <small style="color:black">{{normalDate createdAt updatedAt}}</small>
      {{#ifTwoParams author._id ../currentUser}}
        <br />
        <a class="delete-btn" href='/profile/tweet/del/{{_id}}' data-method='delete'>Delete this
          tweet</a>
        <br />
        <a class="edit-btn" href='/profile/tweet/edit/{{_id}}'>Edit this tweet</a>
        {{else}}
        <br>
        <a  class="delete-btn"  href="/profile/tweet/remove-retweet/{{_id}}">❌🔁 Remove retweet</a>
      {{/ifTwoParams}}
    </p>
    <br />
  </div>
{{/each}}
<a class="logout-btn" href='/logout'>Log out</a>

{{!-- testarea --}}
