<div>
<h1>This is the Profile Page</h1>
<h3>Hi {{user.username}}</h3>
<br />
<h3>Add a tweet:</h3>
<form action='/profile/tweet/new' method='POST'>
  <label for='tweet'>What you'd like to share:</label>
  <br />
  <textarea 
    class="textarea"
    name='tweet' 
    id='tweet' 
    cols='30' 
    rows='10'
    placeholder="What´s happening?"
  ></textarea>
  <br>
  <button type='submit'>Tweet</button>
</form>
<br />
<div>
  {{! The user's tweets are displayed here }}
  {{#each tweets}}
    <p>{{content}}
      <br />
      {{! Checks if tweet was edited and returns latest timestamp }}
      <small>{{normalDate createdAt updatedAt}}</small>
      <br />
      <button>
        <a href='/profile/tweet/del/{{_id}}' data-method='delete'>❌ Delete this
        tweet</a>
      </button>  
        <br />
      <button>
        <a href='/profile/tweet/edit/{{_id}}'>✏ Edit this tweet</a>
      </button>
    </p>
    <br />
  {{/each}}
</div>
  <button>
    <a href='/logout'>Log out</a>
  </button>
</div>